* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  /* outline: 2px solid red; */
}

.navbar {
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px;
  color: white;
  background-color: #1f2937;
  gap: 100px;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  display: inline;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.sign-up-button {
  padding: 8px 25px;
  background-color: #3882F6;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
}

.image-placeholder img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}

.section-1 {
  padding: 100px;
  text-align: center;
}

.section-1-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.subsection div {
  width: 100%;
  height: 180px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
}

.subsection p {
  margin-top: 10px;
  color: rgb(138, 134, 134);
}

.div-section {
  width: 70%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0px auto;
}

.testimonial {
  background: #E5E7EB;
  height: 400px;
  padding: 100px 100px;
  row-gap: 20px;
  position: relative;
}

.testimonial-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.testimonial-1 {
  width: 60%; 
  position: absolute;
  right: 15%;
}

.testimonal-owner {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  font-weight: bolder;
}

.call-to-action {
  padding: 100px 0px;
  color: white;
}

.background-call-to-action {
  width: 75%;
  margin: 0px auto;
  padding: 50px 100px;
  border-radius: 10px;
  background-color: #3882F6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.call-to-action-1 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.call-to-action-2 {
  font-weight: lighter;
}

.call-to-action-button {
  color: white;
  border-style: solid;
  font-weight: 500;
  font-size: 20px;
  border-color: white;
  background: #3882F6;
  padding: 8px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  padding: 40px;
  color: white;
  background: #1f2937;
  text-align: center;
}
