*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 10px 10px;
}