* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.navbar {
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px;
  color: white;
  background-color: #1f2937;
  gap: 100px;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.sign-up-button {
  padding: 8px 25px;
  background-color: #3882F6;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.image-placeholder {
  background: lightgray;
  padding: 100px 300px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  text-align: center;
}

.section-1-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.subsection div {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.div-section {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.testimonial {
  background: #E5E7EB;
  padding: 100px 100px;
  row-gap: 20px;
}

.testimonial-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.testimonal-owner {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  font-weight: bolder;
}

.call-to-action {
  padding: 50px 100px;
  color: white;
}

.background-call-to-action {
  padding: 50px 20px;
  background-color: #3882F6;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.call-to-action-1 {
  font-weight: 500;
  font-size: 20px;
}

.call-to-action-button {
  color: white;
  border-style: solid;
  border-color: white;
  background: #3882F6;
  padding: 8px 30px;
}

.footer {
  padding: 50px 50px;
  color: white;
  background: #1f2937;
  text-align: center;
}
